body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Estilo del header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
  }
  
  /* Personaliza el fondo del menú */
  .topnav {
    background-color: #004aad;
    overflow: hidden;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  
  /* Logo */
  .topnav .logo {
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  /* Enlaces */
  .topnav a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Hover de enlaces */
  .topnav a:hover {
    background-color: #004aad;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Enlace activo */
  .topnav a.active {
    background-color: #004aad;
    color: #004aad;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* Ícono de hamburguesa */
  .topnav .icon {
    display: none;
  }
  
  /* Responsividad */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) { display: none; }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
      flex-direction: column;
      align-items: flex-start;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
    }
  }
  

/* Añadir un margen superior al contenido debajo del header */
main {
    margin-top: 140px; /* Ajusta el valor según el tamaño de tu header */
  }
  
  /* O, si el contenido está en un contenedor específico */
  .contenedor {
    margin-top: 140px; /* Ajusta el valor según el tamaño de tu header */
  }
  
  
h1 {
    text-align: center;
}
.prox {
    text-align: center;
  }

  /* Estilo para la imagen */
  .responsive-img {
    width: 100%;  /* La imagen ocupará el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 800px; /* Limita el tamaño máximo de la imagen para evitar que sea demasiado grande */
  }
.xd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.left {
    flex: 1;
    margin-right: 40px;
}
.left img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
/* General styles for the carousel */
.carousel {
    position: relative;
    width: 100%; /* Ocupa el ancho completo del contenedor */
    max-width: 1000px; /* Limita el ancho en pantallas grandes */
    height: auto; /* Ajusta automáticamente la altura */
    overflow: hidden;
    margin: 20px auto;
    border-radius: 8px;
}
.carousel-inner img {
    width: 100%; /* Las imágenes ocupan todo el ancho */
    height: auto; /* Mantiene la proporción original */
    object-fit: cover; /* Asegura que se vea bien en cualquier tamaño */
}
/* Controls for navigation */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Ajusta el tamaño del botón */
    height: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}
.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
}
.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .carousel {
        width: 100%; /* Ocupa el ancho completo del dispositivo */
        height: auto; /* Ajusta la altura dinámicamente */
    }

    .carousel-inner img {
        object-fit: contain; /* Centra y ajusta las imágenes */
    }

    .carousel-control {
        width: 8%; /* Botones más grandes para pantallas pequeñas */
    }
}
section {
    border: 1px solid #ccc; /* Borde temporal para ver los contenedores */
    margin: 10px 0; /* Espacio entre secciones */
    padding: 10px; /* Espaciado interno */
    background-color: white; /* Fondo blanco para mayor contraste */
}
.contenido-publicidad {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten */
    justify-content: space-around; /* Distribuir uniformemente */
    gap: 20px; /* Espacio entre elementos */
    margin: 0 auto; /* Centrar contenido */
    padding: 20px;
    box-sizing: border-box;
}
.box-style {
    text-align: center;
    flex: 1 1 calc(45% - 20px); /* Toma el 45% del ancho y ajusta */
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    border: 2px solid #004aad;
    padding: 10px;
}
.box-style img {
    max-width: 100%; /* Imagen completamente adaptativa */
    height: auto;
    border-radius: 10px;
}
.box-style:hover {
    transform: scale(1.05);
}
.titulo-publicidad {
    text-align: center;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-size: 20px;
    margin: 20px 10px;
}
/* Estilos para móviles */
@media screen and (max-width: 768px) {
    .contenido-publicidad {
        flex-direction: column; /* Coloca los elementos en una columna */
        align-items: center; /* Centra los elementos */
    }

    .box-style {
        flex: 1 1 100%; /* Toma todo el ancho en móviles */
        margin: 10px 0;
    }

    .titulo-publicidad {
        font-size: 18px; /* Ajustar tamaño de texto */
    }
    .contenido-texto{
        text-align: center;
    }
}
.servicios-mensajeria{
    width: auto;
    margin: auto; 
}
.contenido-texto{
    text-align: justify;
}
.muestras-humanas{
    width: auto;
    margin: auto;
}
.foto{
    width: 300px;
    margin-right: 0px;
    border-radius: 10px;
}
.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}
.contact-form,
.contact-info {
    flex: 1;
}
.contact-form {
    margin-right: 20px; /* Espacio entre el formulario y el separador */
}
.contact-info {
    margin-left: 20px; /* Espacio entre el separador y los datos de contacto */
}
.contact-form h3,
.contact-info h3 {
    margin-bottom: 20px;
    color: #004aad;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input[type="submit"]:hover {
    background-color: #003580;
}
.contact-info p {
    margin-bottom: 15px;
}
.contact-info a {
    color: #004aad;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}
/* Título principal */
h2 {
    text-align: center;
    color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form label {
    font-size: 14px;
    color: #555;
}
form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
form button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
form button:hover {
    background-color: #004aad;
}
/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    color: #333;
}
tr:hover {
    background-color: #f9f9f9;
}
/* Estilos para los mensajes de error o vacíos */
#errorMessage {
    color: red;
    text-align: center;
    margin-top: 20px;
}
.detalles {
    display: flex;
    align-items: flex-start;
    background-color: #f9fafb; /* Color de fondo suave */
    border: 1px solid #e5e7eb; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    max-width: 500px; /* Ancho máximo para control */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    font-family: Arial, sans-serif;
    color: #374151; /* Texto en gris oscuro */
}
.icono {
    margin-right: 20px;
}
.icono img {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
}
.contenido h3 {
    margin: 0;
    font-size: 1.2em;
    color: #1f2937; /* Tono más oscuro para el título */
    margin-bottom: 10px;
}
.contenido p {
    margin: 5px 0;
    line-height: 1.6; /* Espaciado entre líneas */
}
.contenido p strong {
    color: #1d4ed8; /* Color azul para resaltar */
}
/* Estilo para el contenedor de la valla móvil */
.valla-movil {
    display: flex;
    align-items: center;
    gap: 40px; /* Espaciado entre imagen y texto */
    padding: 20px;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }

  /* Estilo para la imagen */
  .valla-movil img {
    width: 40%; /* Imagen ocupa el 40% del espacio */
    height: auto;
    border-radius: 8px;
  }

  /* Estilo para el contenido de texto */
  .valla-movil .right {
    flex: 1;
    text-align: justify;
  }

  /* Títulos y párrafos */
  .valla-movil h2 {
    margin: 0 0 10px;
    font-size: 3.5em;
    color: #1f2937;
  }

  .valla-movil p {
    margin: 5px 0;
    line-height: 1.6;
    color: #374151;
  }

  .valla-movil p strong {
    color: #1d4ed8;
  }

  /* Responsividad para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    /* En pantallas más pequeñas, la imagen va a ocupar todo el ancho y se coloca encima del texto */
    .valla-movil {
      flex-direction: column; /* Cambia la dirección del contenedor a columna */
      align-items: center; /* Centra los elementos */
    }

    /* La imagen ocupa el 100% del contenedor */
    .valla-movil img {
      width: 100%;
      margin-bottom: 20px; /* Da espacio entre la imagen y el texto */
    }

    /* El texto ocupa el 100% del ancho, ajustando la alineación */
    .valla-movil .right {
      width: 100%;
      text-align: center; /* Centra el texto en pantallas pequeñas */
    }
  }
/* Sección de clientes */
#clients {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}
#clients h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}
/* Carrusel */
.carousel2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 100px; /* Ajusta la altura en móviles */
}
.carousel-track {
    display: flex;
    align-items: center;
    animation: scroll 65s linear infinite;
    width: calc(200px * 60); /* Ajusta según el número total de imágenes */
}
.carousel-track img {
    width: 240px; /* Ajuste inicial para logos */
    height: auto;
    margin: 0 10px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}
.carousel-track img:hover {
    transform: scale(1.1);
}
/* Animación del carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Mover hasta la mitad para efecto infinito */
    }
}
/* Responsividad */
@media screen and (max-width: 768px) {
    #clients h1 {
        font-size: 1.5rem;
    }
    .carousel2 {
        height: 80px; /* Reduce la altura para móviles */
    }
    .carousel-track img {
        width: 100px; /* Reduce el tamaño de los logos */
        margin: 0 5px; /* Menor espacio entre imágenes */
    }
}
@media screen and (max-width: 480px) {
    .carousel2 {
        height: 70px; /* Altura aún menor en pantallas pequeñas */
    }
    .carousel-track img {
        width: 80px; /* Reduce aún más los logos */
        margin: 0 3px;
    }
}
/* Sección de clientes */
#clients3 {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
}
#clients3 h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}
/* Carrusel */
.carousel3 {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 100px; /* Ajusta la altura en móviles */
}
.carousel-track3 {
    display: flex;
    align-items: center;
    animation: scroll 5s linear infinite;
    width: calc(200px * 6); /* Ajusta según el número total de imágenes */
}
.carousel-track3 img {
    width: 240px; /* Ajuste inicial para logos */
    height: auto;
    margin: 0 10px;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}
.carousel-track3 img:hover {
    transform: scale(1.1);
}
/* Animación del carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Mover hasta la mitad para efecto infinito */
    }
}
/* Responsividad */
@media screen and (max-width: 768px) {
    #clients3 h1 {
        font-size: 1.5rem;
    }
    .carousel3 {
        height: 80px; /* Reduce la altura para móviles */
    }
    .carousel-track3 img {
        width: 100px; /* Reduce el tamaño de los logos */
        margin: 0 5px; /* Menor espacio entre imágenes */
    }
}
@media screen and (max-width: 480px) {
    .carousel3 {
        height: 70px; /* Altura aún menor en pantallas pequeñas */
    }
    .carousel-track3 img {
        width: 80px; /* Reduce aún más los logos */
        margin: 0 3px;
    }
}